@{
    ViewData["Title"] = "Drive Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://developers.google.com/drive/api/v3/about-sdk">Google Drive API v3</a>.</p>
</div>
